KERNEL_ARCH_CFLAGS=-isystem $(SYSROOT)/usr/i686-elf/include
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=-L$(SYSROOT)/usr/i686-elf/lib -lc

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/gdt_init.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/idt_init.o \
$(ARCHDIR)/isr.o \
$(ARCHDIR)/syscalls.o